<%= "Please Sign-in to View" %>


<% if user_signed_in? %>

<p>
  <b>Chat</b>
  <ul>
    <% @chats.each do |c| %>
      <li><%= c.chat_message %> -->
          <%= c.email %></li>
    <% end %>
  </ul>
</p>

<%= form_for(@chat) do |f| %>

  <div class="field">
    <%= f.label :chat_message %><br />
    <%= f.text_area :chat_message, :placeholder => "New Message" %>
    <%= f.hidden_field :email, :value => @ch %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
<% end %>

<p>
  <%= link_to 'Homepage', pages_path %>
</p>
