<p><%= link_to 'Google', 'http://google.com' %> |
<%= link_to 'Facebook', 'http://facebook.com' %> |
<%= link_to 'Reddit', 'http://reddit.com' %> |
<%= link_to 'Schneems', 'http://schneems.com/ut-rails' %></p>

<h2>Farley's Homepage</h2>

<% if user_signed_in? %>
**********************************************************
<h2>Welcome Everyone</h2>
<b>This should only be visible if you are logged in</b>
<p>-missing everyone whose emails aren't here<br>
    -please add a link!
</p>
<ul>
  <% @users.each do |user| %>
  <li>  <%= user.email %> |
        <%= "Account Created: #{user.created_at}" %> </li>
  <% end %>
</ul>

**********************************************************
<% end %>


<p></p>

<b><%= link_to "Add a link", new_link_path %></b> |
<%= link_to "Chat", chats_path %>

<ul>
  <% @links.each do |link| %>
  <li>  <%= link_to "+", votes_path(:vote => {:link_id => link.id, :up => true}), :method => :post %>
        <%= link.votes.where(:up => true).count - link.votes.where(:up => false).count %>
        <%= link_to "-", votes_path(:vote => {:link_id => link.id, :up => false}), :method => :post %>
        <%= link_to link.title, link.url, :target => "_blank" %></li>
        <%= link_to 'comments', link_path(:id => link.id) %>
        <p> </p>
  <% end %>
</ul>

<!-- <%= will_paginate @links %> -->
