<p><%= link_to 'Google', 'http://google.com' %> |
<%= link_to 'Facebook', 'http://facebook.com' %> |
<%= link_to 'Reddit', 'http://reddit.com' %> |
<%= link_to 'Schneems', 'http://schneems.com/ut-rails' %></p>

<h2>Farley's Homepage</h2>


<%= link_to "Add a link", new_link_path %>

<ul>
  <% @links.each do |link| %>
  <li><%= link_to link.title, link.url %></li> -->
    <%= link_to 'comments', link_path(:id => link.id) %>
  <% end %>
</ul>

<!-- <p>
  <%= link_to 'comments', links_path %>
</p> -->

<%= will_paginate @links %>
