<%= "Hey" %>

<p id="notice"><%= notice %></p>

<p>
    <b>Title:</b>
    <%= @link.title %> added to the website!
</p>

<p>
    <b>URL:</b>
    <%= @link.url %>
</p>

<p>
  <%= link_to 'Homepage', pages_path %>
</p>
