<%= "Hey" %>

<p id="notice"><%= notice %></p>

<p>
    <b>Title:</b>
    <%= @link.title %> added to the website!
</p>

<p>
    <b>URL:</b>
    <%= @link.url %>
</p>

<% if user_signed_in? %>

  <%= form_for(@comment) do |f| %>

    <div class="field">
      <%= f.label :message %><br />
      <%= f.text_field :message %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>

<p>
  <b>Comments</b>
  <ul>
    <% @comments.each do |c| %>
      <li><%= c.message %></li>
    <% end %>
  </ul>
</p>

<p>
  <%= link_to 'Homepage', pages_path %>
</p>
