<% if user_signed_in? %>

  <%= form_for(@chat) do |f| %>

    <div class="field">
      <%= f.label :chat_message %><br />
      <%= f.text_area :chat_message, :placeholder => "Add a comment" %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<p>
  <b>Comments</b>
  <ul>
    <% @chat.each do |c| %>
      <li><%= c.chat_message %></li>
    <% end %>
  </ul>
</p>
<% end %>

<p>
  <%= link_to 'Homepage', pages_path %>
</p>
